// ===============
// colors palette
// ===============
:root {
  --white: #fff;
  --red: #CE0F2D;
  --red_dark: #B3131E;
  --red_hover: #A40921;
  --gold: #B89655;
  --border-gold: #d5ab69;
  --yellow: #D9B671;
  --mainColor: #121212;
  --light: #EFF1F3;
  --blue: #21A0E5;
  --ozon: #0069FF;
  --slogan: #bc9767;
  --angularGradient: conic-gradient(from 100.86deg at 46.3% -16.67%, #0069FF 0deg, #783DBF 175.13deg, #F1107E 360deg);
  --grey: #A5A6A6;
  --dark_grey: #5A5A5A;
  --scrollbar_bg: #D9D9D9;
  --light_grey: #E3E3E3;
  --dark-yellow: #a68459;
  --grey-light: #eff1f3;
  --grey-dark: #5c626f;
  --black: #282828;
  --blue: #077ed4;
}