@use "base/mixins";
@use "sass:math";
@use "variables";

//====================================================================================================
:root {
  --globalAnimDuration: 0.7s;
  --globalAnimDelay: 0.05s;
  // --globalTransitionTiming: cubic-bezier(.67,.17,.51,1.11);
  --globalTransitionTiming: ease;
}

.hero {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 13px;
    height: 100%;
    width: 100%;
    background-image: url('../img/hero/light.webp');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    opacity: 0.8;
    mix-blend-mode: lighten;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      background-image: url('../img/hero/light-1320.webp');
      height: 151px;
      background-size: cover;
      bottom: 0;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      background: none;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light_grey);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: 100% 0;

      @media (max-width:mixins.toEm(variables.$mobile)) {
        object-position: center;
      }

      @media (max-width:mixins.toEm(375)) {
        object-fit: contain;
        object-position: center bottom;
      }
    }

  }

  &__car {
    max-height: mixins.toRem(318);
    position: absolute;

    @media (min-width:mixins.toEm(1921)) {
      min-width: mixins.toRem(631);
      min-height: mixins.toEm(347);
      bottom: mixins.toRem(25);
      right: mixins.toRem(85);
    }

    @media (min-width:mixins.toEm(2099.98)) {
      min-width: mixins.toRem(631);
      min-height: mixins.toEm(347);
      bottom: mixins.toRem(55);
      right: mixins.toRem(85);
    }



    @media(max-width: mixins.toEm(variables.$maxWidth)) {
      @include mixins.adaptiveValue("width", 631, 631, 1920, 1600);
      @include mixins.adaptiveValue("right", 85, -80, 1920, 1600);
      @include mixins.adaptiveValue("bottom", 50, 50, 1920, 1600);
    }



    @media(max-width: mixins.toEm(1599.98)) {
      @include mixins.adaptiveValue("width", 631, 631, 1600, 1340);
      @include mixins.adaptiveValue("right", -80, -210, 1600, 1340);
      @include mixins.adaptiveValue("bottom", 50, 50, 1600, 1340);
    }

    @media(max-width: mixins.toEm(variables.$laptop)) {
      @include mixins.adaptiveValue("max-width", 434, 440, variables.$laptop, 992);
      @include mixins.adaptiveValue("right", 60, -120, variables.$laptop, 992);
      @include mixins.adaptiveValue("bottom", 50, 55, variables.$laptop, 992);
    }

    @media(max-width: mixins.toEm(variables.$tablet)) {
      @include mixins.adaptiveValue("right", -120, -220, variables.$tablet, 768);
      @include mixins.adaptiveValue("bottom", 55, 65, variables.$tablet, 768);
    }

    @media(max-width: mixins.toEm(variables.$mobile)) {
      right: auto;
      @include mixins.adaptiveValue("max-width", 540, 265, variables.$mobile);
      @include mixins.adaptiveValue("bottom", 165, 240, variables.$mobile);
      @include mixins.adaptiveValue("left", 43, 25, variables.$mobile);
    }

    @media(max-width: mixins.toEm(375)) {
      right: auto;
      @include mixins.adaptiveValue("max-width", 258, 230, 374.98, 320);
      @include mixins.adaptiveValue("bottom", 237, 200, 374.98, 320);
      @include mixins.adaptiveValue("left", 28, 20, 374.98, 320);
    }

    .car {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
    }


    .headlights {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: auto;
      top: 17%;
      right: 4%;
      pointer-events: none;
      mix-blend-mode: screen;

      img {
        mix-blend-mode: screen;
      }

      &__right {
        position: absolute;
        top: 3%;
        right: 46%;
        transform: scaleX(-1);
      }

      @media(min-width: mixins.toEm(1921)) {
        top: mixins.toRem(75);
        right: mixins.toRem(8);

        &__right {
          right: mixins.toRem(350);
        }
      }

      @media(max-width: mixins.toEm(variables.$laptop)) {
        top: 7%;
        right: 6%;

        &__right {
          right: 37%;
        }
      }

      @media(max-width: mixins.toEm(variables.$mobile)) {
        @include mixins.adaptiveValue("right", 25, 30, variables.$mobile, 480);
        @include mixins.adaptiveValue("top", 35, 0, variables.$mobile, 480);



        &__right {
          @include mixins.adaptiveValue("right", 230, 90, variables.$mobile, 480);
          top: 2%;
        }
      }

      @media(max-width: mixins.toEm(variables.$mobileSmall)) {
        @include mixins.adaptiveValue("right", 5, 8, variables.$mobileSmall, 320);
        @include mixins.adaptiveValue("top", 37, 17, variables.$mobileSmall, 320);


        &__right {
          @include mixins.adaptiveValue("right", 190, 110, variables.$mobileSmall, 320);
          top: 5%;
        }
      }
    }

  }

  &__wrapper {
    position: relative;
    z-index: 3;

    @media (max-width:mixins.toEm(variables.$mobile)) {
      height: mixins.toRem(619);
    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      
      &::before {
        content: '';
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: mixins.toRem(217);
        z-index: 1;
        background: linear-gradient(180deg, rgba(13, 42, 76, 0.4) 0%, rgba(17, 41, 69, 0) 100%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: mixins.toRem(264);
        background: linear-gradient(180deg, #6a94b5 0%, #6da0cb 36.49%, rgba(88, 134, 173, 0) 100%);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;

    @media (min-width:mixins.toEm(variables.$laptop)) {
      padding-top: mixins.toRem(88);
      padding-bottom: mixins.toRem(111);
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      padding-top: mixins.toRem(76.8);
      padding-bottom: mixins.toRem(84.2);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      box-sizing: border-box;
      height: 100%;
      padding-top: mixins.toRem(45);
      padding-bottom: mixins.toRem(35);
    }
  }

  &__title {
    font-weight: 700;
    color: var(--white);
    line-height: 1;
    position: relative;
    max-width: mixins.vw(1155, 1320);
    margin-top: 0;
    margin-bottom: mixins.toRem(40);
    font-size: mixins.toRem(50);
    letter-spacing: -0.02em;

    svg {
      position: relative;
      border-radius: 100%;
      fill: #3c6580;
      filter: blur(60px);
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      margin-bottom: mixins.toRem(24);
      font-size: mixins.toRem(35);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-bottom: mixins.toRem(17);
      font-size: mixins.toRem(28);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: -1;
    }
  }

  &__text {
    font-weight: 300;
    color: var(--white);
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: mixins.toRem(31);
    letter-spacing: -0.02em;
    font-size: mixins.toRem(55);

    @include mixins.adaptiveValue("max-width", 1000, 344);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      margin-bottom: mixins.toRem(35);
      font-size: mixins.toRem(40);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-bottom: auto;
      font-size: mixins.toRem(32);
    }

  }

  &__slogan-box {
    margin-bottom: mixins.toRem(120);
    width: mixins.toRem(430);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      width: mixins.toRem(303);
      margin-bottom: mixins.toRem(75);
      height: mixins.toRem(27);
      border-radius: 25px;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      width: mixins.toRem(241);
      border-radius: 30px;
      background: linear-gradient(to right, #FBF2E5 0%, #937137 100%);
      padding: 1px;
      position: absolute;
      height: mixins.toRem(48);
      margin-bottom: 0;

      @include mixins.adaptiveValue("top", 410, 430, variables.$mobile);
      @include mixins.adaptiveValue("right", 110, 123, variables.$mobile);

    }

    @media (max-width:mixins.toEm(374.98)) {
      @include mixins.adaptiveValue("right", 123, 70, 375, 320);

    }
  }

  &__slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    border-radius: 30px;
    line-height: 120%;
    text-align: center;
    color: var(--white);
    letter-spacing: -0.02em;
    background: var(--slogan);
    font-size: mixins.toRem(28);

    border: none;

    @media (min-width:mixins.toEm(variables.$laptop)) {
      padding-top: mixins.toRem(3);
      padding-bottom: mixins.toRem(4);
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(20);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(16);
      padding-left: mixins.toRem(25);
      justify-content: flex-start;
    }
  }

  &__bottles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 17%;
    bottom: mixins.toRem(66);

    @include mixins.adaptiveValue("width", 357, 213, 1920, 768);
    @include mixins.adaptiveValue("height", 367, 238, 1920, 768);

    img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: mixins.toEm(variables.$laptop)) {
      left: 14%;
      width: mixins.toRem(245);
      height: mixins.toRem(252);
      bottom: mixins.toRem(50);
    }

    @media (max-width: mixins.toEm(variables.$tablet)) {
      @include mixins.adaptiveValue("left", 100, 0, 992, 768, );
    }

    @media (max-width: mixins.toEm(variables.$mobile)) {
      bottom: -5px;
      margin-bottom: mixins.toRem(10);
      width: mixins.toRem(213);
      height: mixins.toRem(238);
      position: relative;
      left: 9px;
      order: 4;
      align-self: end;
    }

    @media (max-width: mixins.toEm(375)) {
      @include mixins.adaptiveValue("width", 213, 170, 375, 320);
      @include mixins.adaptiveValue("height", 238, 200, 375, 320);
    }
  }

}

//====================================================================================================
.ow {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: mixins.toRem(15);
    padding-left: mixins.toRem(15);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(100);
      padding-bottom: mixins.toRem(100);
      gap: 30px;
    }

    @media (min-width:mixins.toEm(variables.$laptop)) {
      padding-top: mixins.toRem(120);
      padding-bottom: mixins.toRem(120);
      gap: 40px;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(90);
      padding-bottom: mixins.toRem(90);
      gap: 30px;
    }
  }


  &__title {
    text-transform: uppercase;
    max-width: mixins.toRem(970);
    line-height: math.div(60, 50);
    font-weight: 400;
    color: var(--black);

    @include mixins.adaptiveValue("font-size", 45, 24);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      max-width: mixins.toRem(620);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      max-width: mixins.toRem(375);
    }
  }

  &__text {
    max-width: mixins.toRem(1096);
    color: var(--grey-dark);
    line-height: 130%;
    text-wrap: balance;

    @include mixins.adaptiveValue("font-size", 32, 16);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      text-wrap: wrap;
      max-width: mixins.toRem(1022);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(16);
      max-width: mixins.toRem(345);
    }

    span {
      @media (max-width:mixins.toEm(variables.$mobile)) {
        display: block;
      }
    }
  }
}

//==========================================================================================
.advantages {

  background: var(--grey-light);

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: var(--white);
  }

  &__container {
    padding-top: mixins.toRem(70);
    padding-bottom: mixins.toRem(70);
    max-width: mixins.toRem(1350);
    display: flex;
    flex-direction: column;
    position: relative;
    gap: mixins.toRem(40);


    @media (max-width:mixins.toEm(variables.$laptop)) {
      padding-top: mixins.toRem(50);
      padding-bottom: mixins.toRem(50);
      gap: mixins.toRem(35);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(90);
      padding-bottom: mixins.toRem(45);
      gap: mixins.toRem(40);
    }
  }

  &__title {
    text-transform: uppercase;
    line-height: math.div(60, 50);
    opacity: 0;
    translate: 0 mixins.toRem(30);
    color: var(--mainColor);
    @include mixins.adaptiveValue("font-size", 50, 32);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
      transition-delay: calc(var(--globalAnimDuration) / 2);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      max-width: mixins.toRem(377);
    }

  }

  &__body {
    @include mixins.adaptiveValue("column-gap", 20, 10);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      display: flex;
      padding-bottom: mixins.toRem(5);
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      margin-right: mixins.toRem(-15);
      padding-right: mixins.toRem(15);

      &::-webkit-scrollbar {
        height: mixins.toRem(3);
        display: none;
      }
    }
  }

  &__item {
    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex: 1 0 mixins.toRem(227);
      scroll-snap-align: start;
    }
  }

  &__whos {
    display: flex;
    gap: mixins.toRem(30);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      gap: mixins.toRem(15);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      gap: mixins.toRem(20);
    }
  }
}

.item-advantages-who {
  position: relative;
  min-height: mixins.toRem(188);
  border-radius: mixins.toRem(15);
  flex: 1 1 50%;
  opacity: 0;
  translate: 0 mixins.toRem(30);

  &__title {
    position: relative;
    z-index: 1;
    border-radius: mixins.toRem(15);
    padding: mixins.toRem(16) mixins.toRem(20) mixins.toRem(74);
    color: var(--white);
    background: linear-gradient(210deg, #e5ceac 0%, #b58e5c 100%);

    font-weight: 500;
    font-size: mixins.toRem(22);
    line-height: 120%;
    text-transform: uppercase;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(18);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(16);
      padding: mixins.toRem(15) mixins.toRem(15) mixins.toRem(70);
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    margin-top: mixins.toRem(-60);
    padding: mixins.toRem(20);
    background: var(--white);
    border-radius: mixins.toRem(15);
    min-height: calc(100% - 52px);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      background: var(--grey-light);
      padding: mixins.toRem(15) mixins.toRem(10) mixins.toRem(25);
      // height: 100%;
    }
  }

  &__text {
    color: var(--grey-dark);

    font-size: mixins.toRem(22);
    line-height: 130%;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(18);
      color: var(--black);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      text-wrap: balance;
      font-size: mixins.toRem(16);
      max-width: mixins.toRem(323);
    }
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    min-height: mixins.toRem(128);
    max-height: mixins.toRem(180);


    &__title,
    &__inner {
      border-radius: mixins.toRem(10);
    }
  }

  .loaded & {
    transition:
      translate var(--globalAnimDuration) var(--globalTransitionTiming),
      opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    transition-delay: calc(var(--globalAnimDuration) * 1.7);
  }

  .loaded ._watcher-view & {
    opacity: 1;
    translate: 0 0;
  }
}

.item-advantages {
  background-color: var(--white);
  border-radius: mixins.toRem(15);
  padding: mixins.toRem(20);
  min-height: mixins.toRem(316);
  opacity: 0;
  translate: 0 mixins.toRem(30);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (min-width:mixins.toEm(variables.$mobile)) {
    &:nth-child(odd) {
      transform-origin: left bottom;
    }

    &:nth-child(even) {
      transform-origin: right bottom;
    }
  }

  @media (max-width:mixins.toEm(variables.$laptop)) {
    min-height: mixins.toRem(245);
    transform-origin: left bottom;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    min-height: mixins.toRem(251);
    transform-origin: left bottom;
    background: var(--grey-light);
  }

  .loaded & {
    transition:
      background 0.3s ease 0s,
      scale 0.3s ease 0s,
      translate var(--globalAnimDuration) var(--globalTransitionTiming),
      opacity var(--globalAnimDuration) var(--globalTransitionTiming);

    --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 3));

    transition-delay: 0s, 0s, var(--delay), var(--delay);
  }

  &:hover {
    color: var(--white);
    --bdc: var(--white);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      scale: 1.03;
    }
  }

  .loaded ._watcher-view & {
    opacity: 1;
    translate: 0 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, #e5ceac 0%, #b58e5c 100%);
    pointer-events: none;
    opacity: 0;
    border-radius: mixins.toRem(15);

    .loaded & {
      transition: opacity 0.3s ease 0s;
    }

    .item-advantages:hover & {
      opacity: 1;
    }
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: mixins.toRem(15);
    position: relative;
    z-index: 2;

    &:not(:last-child) {
      margin-bottom: auto;
    }
  }

  &__icon {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: mixins.toRem(101);
    height: mixins.toRem(103);

    @media (max-width: mixins.toEm(variables.$laptop)) {
      width: mixins.toRem(70);
      height: mixins.toRem(72);
    }

    @media (max-width: mixins.toEm(variables.$mobile)) {
      width: mixins.toRem(86);
      height: mixins.toRem(82);
    }

  }

  &__index {
    color: var(--grey);
    font-size: mixins.toRem(22);
    line-height: math.div(30.8, 22);

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    .item-advantages:hover & {
      color: var(--white);
    }
  }

  &__text {
    line-height: math.div(28.6, 22);
    position: relative;
    z-index: 2;
    font-size: mixins.toRem(22);

    @include mixins.adaptiveValue("font-size", 22, 18);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      line-height: math.div(23.4, 18);
      font-size: mixins.toRem(18);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      hyphens: auto;
      line-height: math.div(23.4, 18);
      font-size: mixins.toRem(16);
    }

    .loaded & {
      transition: color 0.3s ease 0s;
    }
  }
}

.icon-item-advantages {
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }

  .shape {
    translate: 0 0;
    transition: translate 0.2s ease;
    will-change: translate;
  }

  .item-advantages:hover & .shape {
    translate: 111px 94px;
  }

  &__speed {
    * {
      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }


    .icon-element {
      transition: fill 0.3s ease, stroke 0.3s ease;

      &--transparent {
        fill: none;
        stroke: none;
      }
    }

    .gold-element {
      fill: var(--white);
      stroke: var(--white);
      transition: opacity 0.3s ease, fill 0.3s ease, stroke 0.3s ease;

      &--transparent {
        opacity: 1;
        fill: transparent;
        stroke: var(--white);
      }
    }



    .item-advantages:hover & .gold-element {
      fill: var(--gold);
      stroke: var(--gold);
    }

    .item-advantages:hover & .gold-element--transparent {
      fill: var(--white);
      stroke: var(--gold);
    }
  }

  &__engine {
    * {
      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }

    .engine {
      transition: all 0.3s ease 0s;
    }

    .item-advantages:hover & .engine {
      stroke: var(--gold);
    }
  }

  &__shield {
    * {
      .loaded & {

        transition: all 0.3s ease 0s;
      }
    }

    .item-advantages:hover & &--shield {
      fill: var(--gold);
      stroke: var(--gold);
    }
  }

  &__certificate {
    * {
      .loaded & {

        transition: all 0.3s ease 0s;
      }
    }

    .item-advantages:hover & &--tranparent {
      stroke: none;
    }

    .item-advantages:hover & &--gold {
      stroke: var(--gold);
    }

    .item-advantages:hover & &--gold {
      stroke: var(--gold);
    }

    .item-advantages:hover & &--fill {
      fill: var(--gold);
      stroke: var(--white);
    }
  }


  .bg-shape {
    fill: var(--gold);
    stroke: #F9F9F9;
    transition: fill 0.3s ease, stroke 0.3s ease;
  }

  .inner-bg {
    fill: url(#paint1_linear_361_1941);
    stroke: url(#paint2_linear_361_1941);
    transition: fill 0.3s ease, stroke 0.3s ease;
  }

  .item-advantages:hover & .bg-shape {
    fill: var(--grey-light);
  }

  .item-advantages:hover & .inner-bg {
    fill: var(--white);
    stroke: url(#paint1_linear_361_1508);
    vector-effect: non-scaling-stroke;
  }
}

//==========================================================================================
.tech {
  position: relative;
  display: flex;
  --animDuration: calc(var(--globalAnimDuration) * 0.55);

  @media (max-width:mixins.toEm(variables.$tablet)) {
    background: var(--grey-light);
    border-radius: mixins.toRem(15);
  }


  &__bgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media (min-width:mixins.toEm(variables.$tablet)) {
      display: grid;
      grid-template-columns: 1fr 1.02fr;
    }
  }

  &__leftbg {
    img {
      height: 100%;
      border-radius: mixins.toRem(20);
      object-fit: cover;
      object-position: center;
    }

    @media (min-width:mixins.toEm(variables.$tablet)) {
      img {
        max-width: none;
        width: mixins.percent(1370, 952);
      }
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      img {
        max-width: none;
      }

      position: relative;
      z-index: 2;
      border-radius: mixins.toRem(15);
      overflow: hidden;
      height: mixins.toRem(540);
    }

    @media (max-width:mixins.toEm(variables.$mobileSmall)) {
      img {
        width: 100%;
      }
    }
  }

  &__rightbg {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(154deg, #e5ceac 0%, #b58e5c 100%);

    @media (min-width:mixins.toEm(variables.$tablet)) {
      border-radius: mixins.toRem(20);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      border-radius: 0 0 mixins.toRem(15) mixins.toRem(15);
      margin-top: mixins.toRem(-16);
      height: mixins.toRem(612);
    }
  }

  &__container {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    max-width: mixins.toRem(1350);
    display: grid;
    justify-content: space-between;
    align-items: center;

    @include mixins.adaptiveValue("column-gap", 289, 250, 1320, 992);
    @include mixins.adaptiveValue("padding-top", 56, 40);

    @media (min-width:mixins.toEm(variables.$tablet)) {
      padding-bottom: mixins.toRem(69);
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: 378px;
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      padding-bottom: mixins.toRem(87);

    }
  }

  &__left {
    align-self: stretch;

    @media (min-width:mixins.toEm(variables.$tablet)) {
      max-width: mixins.toRem(427);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      &:not(:last-child) {
        @include mixins.adaptiveValue('margin-bottom', 99, 40)
      }

    }
  }

  &__middle {
    z-index: 2;

    @media (min-width:mixins.toEm(variables.$tablet)) {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -57% -50%;
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      z-index: 3;
    }

    @include mixins.adaptiveValue("height", 399, 308);

    img {
      &:not(.tech__light):not(.tech__sqare) {
        height: 100%;
        position: relative;
        z-index: 2;
      }
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: mixins.toRem(30);
      }
    }
  }

  &__light {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 0;
    translate: 0 -50%;
  }

  &__sqare {
    position: absolute;
    left: 62.7%;
    top: 50%;
    translate: 0% -48%;
    height: mixins.toRem(203);
  }

  &__right {
    margin-left: auto;
    position: relative;
    z-index: 2;

    @media (min-width:mixins.toEm(variables.$tablet)) {
      max-width: mixins.toRem(455);
    }
  }
}

.left-tech {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: mixins.toRem(30);
    @include mixins.adaptiveValue("gap", 25, 10);
  }

  &__title {
    text-transform: uppercase;
    line-height: math.div(54, 45);
    opacity: 0;
    translate: 0 mixins.toRem(30);
    letter-spacing: -0.02em;

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: calc(var(--globalAnimDuration) / 2);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    @include mixins.adaptiveValue("font-size", 45, 32);
  }

  &__logo {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    margin-bottom: mixins.toRem(60);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: calc(var(--animDuration) * (var(--max_index, 2) + 1.5));
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    @media (max-width: mixins.toEm(variables.$tablet)) {
      margin-bottom: 0;
    }
  }

  &__button {
    width: max-content;
    opacity: 0;
    translate: 0 mixins.toRem(30);
    @include mixins.adaptiveValue("font-size", 16, 14, 1920, 1024);

    @media (max-width: mixins.toEm(1024)) {
      font-size: mixins.toRem(16);
    }

    .loaded & {
      transition:
        translate var(--animDuration) var(--globalTransitionTiming),
        opacity var(--animDuration) var(--globalTransitionTiming);

      @media (min-width:mixins.toEm(variables.$tablet)) {
        transition-delay: calc(var(--animDuration) * (var(--max_index, 2) + 2.5));
      }

      @media (max-width:mixins.toEm(variables.$tablet)) {
        width: 100%;
        text-align: center;
        transition-delay: var(--globalAnimDuration);
      }
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }
}

.right-tech {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: mixins.toRem(80);

  @media (max-width: mixins.toEm(variables.$laptop)) {
    gap: mixins.toRem(48);
  }

  @media (max-width: mixins.toEm(variables.$tablet)) {
    gap: mixins.toRem(30);
  }

  &__itemwrap {
    position: relative;
    // opacity: 0;
    --pl: #{mixins.toRem(7)};

    @include mixins.adaptiveValue("--img_width", 118, 94, 1920, 1320);
    @include mixins.adaptiveValue("--pt", 13, 9);
    @include mixins.adaptiveValue("--gap", 20, 10);


    @media (max-width:mixins.toEm(variables.$tablet)) {
      --pl: #{mixins.toRem(12)};

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: mixins.toRem(2);
        background-color: var(--gold);
        z-index: -1;
        padding-bottom: 0;

        .loaded & {
          transition:
            padding var(--animDuration) var(--globalTransitionTiming);

          transition-delay: calc(var(--animDuration) * (var(--index) + 2));
        }

        .loaded ._watcher-view & {
          padding-bottom: mixins.toRem(100);
        }
      }
    }
  }

  @media (max-width: mixins.toEm(variables.$tablet)) {
    &__item-1 {
      min-height: mixins.toRem(129);
    }

    &__item-2 {
      min-height: mixins.toRem(169);
    }
  }

  &__item {
    color: var(--white);
    display: flex;
    align-items: center;
    border-radius: calc(1px / 0);
    border: mixins.toRem(2) solid var(--border-gold);
    background-color: var(--dark-yellow);
    width: 100%;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    // height: calc(var(--img_width) + (var(--pt) * 2));

    width: calc(var(--img_width) + (var(--pl) * 2));
    scale: 0;

    // @include mixins.adaptiveValue('min-height', 129, 169, 992);
    @include mixins.adaptiveValue('border-radius', 100, 35, 992);


    @media (min-width: mixins.toEm(variables.$tablet)) {
      min-height: mixins.toRem(129);
    }

    @media (min-width: mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(144);
    }

    @media (max-width: mixins.toEm(374.98)) {
      @include mixins.adaptiveValue('min-height', 169, 189, 375, 320);
    }

    .loaded & {
      transition:
        scale var(--animDuration) var(--globalTransitionTiming),
        padding var(--animDuration) var(--globalTransitionTiming);

      transition-delay: calc(var(--animDuration) * var(--index, 1)), calc(var(--animDuration) * (var(--index) + 1));
    }

    .loaded ._watcher-view & {
      scale: 1;
      padding-left: var(--width);
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: var(--pl);
    translate: 0 -50%;
    z-index: 2;
    scale: 0;

    aspect-ratio: 1;
    width: var(--img_width);

    .loaded & {
      transition:
        scale var(--animDuration) var(--globalTransitionTiming);

      transition-delay: calc((var(--animDuration) / 2) * var(--index, 1));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .loaded ._watcher-view & {
      scale: 1;
    }
  }

  &__text-box {
    translate: mixins.toRem(-30) -50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc(var(--img_width) + var(--pl) + var(--gap));


    @include mixins.adaptiveValue("font-size", 22, 18);

    @media (max-width: mixins.toEm(375)) {
      hyphens: auto;
    }

    .loaded & {
      transition:
        translate var(--animDuration) var(--globalTransitionTiming),
        opacity var(--animDuration) var(--globalTransitionTiming);

      transition-delay: calc(var(--animDuration) * (var(--index, 1) + 2));
    }

    .loaded ._watcher-view & {
      translate: 0 -50%;
      opacity: 1;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--white);

    @include mixins.adaptiveValue("font-size", 18, 14, 1920, 1320);
    @include mixins.adaptiveValue("margin-bottom", 8, 6);

    @media (max-width:mixins.toEm(variables.$tablet)) {
      font-size: mixins.toRem(16);
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
    max-width: mixins.toRem(271);
    width: 100%;

    @include mixins.adaptiveValue("font-size", 16, 14, 1920, 1320);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      max-width: mixins.toRem(230);
    }

    @media (max-width:mixins.toEm(variables.$tablet)) {
      font-size: mixins.toRem(16);
      max-width: max-content;
    }
  }
}

//==========================================================================================
.easystart {
  position: relative;
  background-color: var(--white);

  @media (max-width: mixins.toEm(1100)) {
    background-color: var(--light);
    border-radius: 0 0 mixins.toRem(15) mixins.toRem(15);
  }

  &__container {
    max-width: mixins.toRem(1350);
    display: grid;
    align-items: flex-start;
    padding-top: mixins.toRem(20);

    padding-bottom: mixins.toRem(120);

    @media (min-width: mixins.toEm(variables.$laptop)) {
      grid-template-columns: 1fr mixins.toRem(370) 1fr;
      gap: mixins.toRem(28);
    }

    @media (min-width: mixins.toEm(1100)) and (max-width: mixins.toEm(variables.$laptop)) {
      grid-template-columns: 1fr mixins.toRem(296) 1fr;
      gap: mixins.toRem(28);
      padding-bottom: mixins.toRem(100);
    }

    @media (max-width: mixins.toEm(1100)) {
      @include mixins.adaptiveValue("padding-bottom", 100, 57, 1100);
    }
  }

  &__item {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    --icnsz: #{mixins.toRem(100)};
    border-radius: mixins.toRem(10);
    display: grid;
    grid-template-columns: var(--icnsz) auto;
    gap: mixins.toRem(20);
    align-items: center;
    line-height: math.div(26.4, 22);
    padding: mixins.toRem(25) mixins.toRem(40) mixins.toRem(22);
    font-size: mixins.toRem(22);

    @media (min-width:mixins.toEm(1100)) {
      background-color: var(--light);
    }

    @media (max-width: mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(18);
      padding: mixins.toRem(20);
      --icnsz: #{mixins.toRem(65)};
    }

    @media (max-width: mixins.toEm(1100)) {
      --icnsz: #{mixins.toRem(60)};
      background-color: var(--white);
      row-gap: 0;
      padding: mixins.toRem(15) mixins.toRem(10);


      &:not(:last-child) {
        margin-bottom: mixins.toRem(15);
      }

      &:last-child {
        grid-template-rows: 1fr;
      }
    }

    @media (max-width: mixins.toEm(variables.$mobile)) {
      font-size: mixins.toRem(16);
    }

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: calc(var(--globalAnimDuration) / 2);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (max-width: mixins.toEm(variables.$laptop)) {
      width: mixins.toRem(70);
    }

    @media (max-width: mixins.toEm(1100)) {
      grid-row: span 2;
    }
  }

  &__name {
    color: var(--red);
    display: flex;

    span {
      hyphens: auto;
    }

    @media (max-width: mixins.toEm(1100)) {
      margin-top: auto;
    }
  }

  &__text {


    @media (min-width:mixins.toEm(1100)) {
      grid-column: span 2;
    }

    @media (max-width: mixins.toEm(1100)) {
      color: var(--grey-dark);

    }
  }

  &__graph {
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(mixins.toRem(30));

    @media (min-width:mixins.toEm(variables.$laptop)) {
      margin-top: mixins.toRem(-55.5);
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      margin-top: mixins.toRem(-79.5);
    }

    @media (max-width: mixins.toEm(1100)) {
      margin-bottom: mixins.toRem(30);
    }

    .loaded & {
      -webkit-transition:
        -webkit-transform var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
      transition:
        transform var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateZ(0);

      @-webkit-keyframes draw {
        to {
          stroke-dashoffset: 0;
        }
      }

      @keyframes draw {
        to {
          stroke-dashoffset: 0;
        }
      }

      @-webkit-keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      svg {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        path[stroke^="url()"] {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }

        // Анимация для красной полоски
        .path-red-line {
          stroke-width: 27.6302px;
          stroke-dasharray: 300;
          stroke-dashoffset: 300;
          shape-rendering: geometricPrecision;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          will-change: transform;

          ._watcher-view & {
            -webkit-animation: draw 2s 0.5s ease-out forwards;
            animation: draw 2s 0.5s ease-out forwards;
          }
        }

        // Анимация для конечной точки
        circle[cx="309.5"][cy="132.5"] {
          opacity: 0;

          // Анимация будет запускаться только при наличии класса _watcher-view
          ._watcher-view & {
            -webkit-animation: fadeIn 0.5s 1.5s forwards;
            animation: fadeIn 0.5s 1.5s forwards;
          }
        }

        @media(max-width: mixins.toEm(1100)) {
          path {
            fill: var(--grey-light);
          }
        }
      }
    }

    h2 {
      position: absolute;
      left: 50%;
      bottom: mixins.toRem(70);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: math.div(22, 15);
      font-size: mixins.toRem(22);

      @include mixins.adaptiveValue("gap", 8, 5);

      @media (max-width:mixins.toEm(variables.$laptop)) {
        font-size: mixins.toRem(18);
        bottom: mixins.toRem(85);
      }

      ._red {
        color: var(--red);
        line-height: math.div(63.57, 52.97);
        font-weight: 500;

        @include mixins.adaptiveValue("font-size", 50, 35, 1920, 1100);
      }
    }



    @media (max-width: mixins.toEm(1100)) {
      order: -1;
      margin-top: mixins.toRem(-57);

      svg {
        width: mixins.toRem(270);
        height: mixins.toRem(237);
      }

      ._fill {
        &[fill] {
          fill: var(--light);
        }

        &[stroke] {
          stroke: var(--light);
        }
      }

      h2 {
        bottom: mixins.toRem(45);
      }
    }

    .loaded ._watcher-view & {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    @media (max-width: mixins.toEm(variables.$tablet)) {
      margin-top: mixins.toRem(-90);
    }
  }
}

//==========================================================================================
.evidence {
  background-color: var(--white);

  &__container {
    padding-top: mixins.toRem(120);
    padding-bottom: mixins.toRem(70);
    max-width: mixins.toRem(1350);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      padding-top: mixins.toRem(100);
      padding-bottom: mixins.toRem(50);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-top: mixins.toRem(45);
      padding-bottom: mixins.toRem(0);
    }
  }

  &__title {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    line-height: math.div(60, 50);
    text-transform: uppercase;
    margin-bottom: mixins.toRem(40);

    @include mixins.adaptiveValue("font-size", 50, 32);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      margin-bottom: mixins.toRem(35);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {

      position: static;
      margin-bottom: mixins.toRem(40);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) and (min-height: 750px),
    (min-device-height: 750px) and (pointer: coarse) {
      --header-height: 20px;
      position: sticky;
      top: var(--header-height);
      margin-bottom: mixins.toRem(576);
      z-index: 99;
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }


  &__body {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(30);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      position: relative;
      gap: 0;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) and (min-height: 750px),
    (min-device-height: 750px) and (pointer: coarse) {
      margin-top: mixins.toRem(-544);
    }

  }

  @media (min-width: mixins.toEm(variables.$mobile)) {
    &__item {
      opacity: 0;
      translate: 0 mixins.toRem(30);

      .loaded & {
        transition:
          translate var(--globalAnimDuration) var(--globalTransitionTiming),
          opacity var(--globalAnimDuration) var(--globalTransitionTiming);

        --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 2));
        transition-delay: var(--delay);
      }

      .loaded ._watcher-view & {
        opacity: 1;
        translate: 0 0;
      }
    }
  }

}


.item-evidence {
  --header-height: 84px;
  display: grid;
  grid-template-columns: auto 758px;
  min-height: mixins.toRem(190);

  @media (min-width: mixins.toEm(variables.$maxWidth)) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width:mixins.toEm(variables.$mobile)) {
    gap: mixins.toRem(20);
  }

  @media (max-width:mixins.toEm(variables.$laptop)) {
    grid-template-columns: auto 592px;
    min-height: mixins.toRem(162);
  }


  @media (max-width:mixins.toEm(variables.$mobile)) {
    position: sticky;
    background: var(--white);
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(15);
    min-height: mixins.toRem(504);
    transition: all 0.5s ease;

    &-1 {
      transform: translateY(calc(var(--header-height) * 0));
    }

    &-2 {
      transform: translateY(calc(var(--header-height) * 1));
    }

    &-3 {
      transform: translateY(calc(var(--header-height) * 2.1));
    }

  }

  @media (max-width: mixins.toEm(variables.$mobile)) and (min-height: 750px),
  (min-device-height: 750px) and (pointer: coarse) {
    top: 138px;
  }


  &__count {
    position: relative;
    font-size: mixins.toRem(90);
    line-height: 120%;
    text-transform: uppercase;
    color: var(--grey);
    opacity: 0.3;
    transition: opacity 0.5s ease, color 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      scale: 1 1;
      transform-origin: left;
      background-color: var(--grey);
      height: 1px;
      transition: scale 0.5s ease;
    }

    &.active {
      color: var(--grey-dark);
      opacity: 0.6;
    }

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(70);
    }
  }

  &__box {
    position: relative;
    border-radius: mixins.toRem(15);

    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0.9px;
      width: 99.6%;
      height: 100%;
      background: var(--red);
      opacity: 0;
      transition: opacity 0.5s ease;
      border-radius: 15px;
      z-index: 0;
    }


    @media (max-width: mixins.toEm(variables.$mobile)) {
      background: var(--grey-light);
      padding: mixins.toRem(20);

      &.active {
        .item-evidence__title {
          color: var(--white);
        }

        .item-evidence__text b {
          font-weight: 500;
        }

        .item-evidence__text p,
        .item-evidence__text b {
          color: var(--white);
        }

        .item-evidence__text a {
          background-color: var(--white);
          color: var(--black);
        }

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    background: var(--grey-light);
    padding: mixins.toRem(20);
    height: 100%;
    flex-direction: column;
    border-radius: inherit;
    justify-content: space-between;


    @media (max-width: mixins.toEm(variables.$mobile)) {
      padding: 0;
      gap: mixins.toRem(40);
      background: none;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--red);
    border-radius: inherit;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    padding: mixins.toRem(10);
    padding-right: mixins.toRem(60);
    opacity: 0;
    transition: translate 0.5s ease, opacity 0.5s ease;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      padding-right: mixins.toRem(50);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      position: relative;
      margin-top: mixins.toRem(40);
      z-index: 0;
      background: transparent;
      padding: 0;
      opacity: 1;
      justify-content: center;
      height: 170px;

      img {
        width: 100%;
      }
    }

    img {
      max-width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: mixins.toRem(10);
    }
  }


  @media (min-width: mixins.toEm(1024)) {
    &:hover {
      .item-evidence__count {
        color: var(--grey-dark);
        opacity: 0.9;

        &::before {
          scale: 0.43 1;

          @media (max-width: mixins.toEm(1920)) {
            scale: 0.3 1;
          }

          @media (max-width: mixins.toEm(variables.$laptop)) {
            scale: 0.55 1;
          }

          @media (max-width: mixins.toEm(1320)) {
            scale: 0.3 1;
          }
        }
      }

      .item-evidence__title {
        color: var(--white);
      }

      .item-evidence__text {

        p,
        b {
          color: var(--white);
        }

        a {
          background-color: var(--white);
          color: var(--black);
        }
      }

      .item-evidence__content {
        background: var(--red);
      }

      .item-evidence__image {
        translate: -295px 0;
        opacity: 1;

        @media (min-width: mixins.toEm(variables.$laptop)) {
          translate: -90% 0;
        }

        @media (min-width: mixins.toEm(variables.$maxWidth)) {
          translate: -90% 0;
        }
      }
    }
  }



  &__head {
    @media (min-width:mixins.toEm(variables.$mobile)) {
      display: flex;
      align-items: flex-end;
      gap: mixins.toRem(20);
    }
  }

  &__title {
    line-height: 120%;
    color: var(--black);

    font-size: mixins.toRem(32);
    text-transform: uppercase;
    transition: color 0.5s ease;

    @media (max-width:mixins.toEm(variables.$laptop)) {
      font-size: mixins.toRem(22);
    }
  }



  &__text {

    @media (min-width:mixins.toEm(variables.$mobile)) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: mixins.toRem(20);
    }

    b {
      color: var(--black);
      font-weight: 400;
      line-height: math.div(26.4, 22);
      color: var(--black);
      display: block;

      margin-bottom: mixins.toRem(10);
    }

    p {
      color: var(--grey-dark);
      line-height: math.div(21.6, 18);

      @media (min-width:mixins.toEm(variables.$mobile)) {
        max-width: mixins.toRem(390);
      }

      @media (max-width:mixins.toEm(variables.$mobile)) {

        &:not(:last-child) {
          margin-bottom: mixins.toRem(20);
        }
      }
    }

    a {
      white-space: nowrap;
      font-size: mixins.toRem(18);
      transition: 0.5s ease;

      @media (max-width: mixins.toEm(variables.$laptop)) {
        font-size: mixins.toRem(14);
        padding: mixins.toRem(14) mixins.toRem(49);
      }

      @media (max-width:mixins.toEm(variables.$mobile)) {
        padding: mixins.toRem(9) 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}

//==========================================================================================
.assort {
  background-color: var(--white);

  &__container {
    max-width: mixins.toRem(1350);
    padding-top: mixins.toRem(70);

    @include mixins.adaptiveValue("padding-bottom", 140, 90);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      margin-top: mixins.toRem(190);
    }
  }

  &__title {
    opacity: 0;
    translate: 0 mixins.toRem(30);
    text-transform: uppercase;
    line-height: math.div(60, 50);

    @include mixins.adaptiveValue("font-size", 50, 32);

    &:not(:last-child) {
      margin-bottom: mixins.toRem(15);
    }

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__slider {
    -webkit-overflow-scrolling: touch;
  }

  &__track {
    overflow: visible;

    &:not(:last-child) {
      margin-bottom: mixins.toRem(15);
    }
  }

  &__list {
    align-items: stretch;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: mixins.toRem(20);
    background-color: var(--light);
    border: mixins.toRem(1) solid var(--light_grey);
    border-radius: mixins.toRem(10);
    padding: mixins.toRem(20);
    // opacity: 0;
    // translate: 0 mixins.toRem(30);

    @include mixins.adaptiveValue("width", 427, 285);

    @media (max-width:mixins.toEm(variables.$mobile)) {
      padding-bottom: mixins.toRem(25);
      gap: mixins.toRem(15);
    }

    // .loaded & {
    //   transition:
    //     translate var(--globalAnimDuration) var(--globalTransitionTiming),
    //     opacity var(--globalAnimDuration) var(--globalTransitionTiming);

    //   --delay: calc((var(--globalAnimDuration) / 4) * var(--index, 1) + (var(--globalAnimDuration) / 2));
    //   transition-delay: var(--delay);
    // }

    // .loaded ._watcher-view & {
    //   opacity: 1;
    //   translate: 0 0;
    // }
  }

  &__image {
    max-width: mixins.toRem(180);
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: math.div(30, 20);
    text-transform: uppercase;
    opacity: 0;
    translate: 0 mixins.toRem(30);
    @include mixins.adaptiveValue("font-size", 25, 20);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      align-items: center;
    }

    span {
      white-space: nowrap;

      &:last-child {
        color: #828080;
      }
    }

    &:not(:last-child) {
      margin-bottom: mixins.toRem(5);
    }

    .loaded & {
      transition:
        translate calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming),
        opacity calc(var(--globalAnimDuration) * 2) var(--globalTransitionTiming);
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }
  }

  &__buttons {
    align-self: stretch;
    display: grid;
    gap: mixins.toRem(10);
    text-align: center;
    margin-top: auto;

    @media (min-width:mixins.toEm(variables.$laptop)) {
      &:has(a:nth-child(2)) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__button {
    font-size: mixins.toRem(14);
    padding: mixins.toRem(5) mixins.toRem(8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: mixins.toRem(63);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      min-height: mixins.toRem(46);
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      min-height: mixins.toRem(40);
      font-size: mixins.toRem(12);
    }
  }

  &__progress {
    background-color: var(--scrollbar_bg);
    height: mixins.toRem(5);
    border-radius: calc(1px / 0);
    position: relative;
    overflow: hidden;
    opacity: 0;
    translate: 0 mixins.toRem(30);

    .loaded & {
      transition:
        translate var(--globalAnimDuration) var(--globalTransitionTiming),
        opacity var(--globalAnimDuration) var(--globalTransitionTiming);

      transition-delay: 1.1s;
    }

    .loaded ._watcher-view & {
      opacity: 1;
      translate: 0 0;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--red);
      border-radius: calc(1px / 0);

      .loaded & {
        transition: width 0.3s ease 0s, translate 0.3s ease 0s;
      }
    }
  }
}

//==========================================================================================
.ozon {

  @media (min-width:mixins.toEm(variables.$mobile)) {
    border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
    background: var(--angularGradient);
    background-size: 100% 200%;
    background-position: 0 100%;
  }

  @media (max-width:mixins.toEm(variables.$mobile)) {
    background: conic-gradient(from 221.46deg at 64.93% 94.59%, #0069FF 0deg, #F1107E 360deg);
    background-size: 300% 150%;
    background-position: 70% 70%;
  }


  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: mixins.toRem(68);
    padding-left: mixins.toRem(20);
    padding-right: mixins.toRem(20);



    @include mixins.adaptiveValue("padding-top", 65, 50);
    @include mixins.adaptiveValue("gap", 79, 35, 1920, variables.$laptop);

    @media (max-width:mixins.toEm(variables.$laptop)) {
      text-align: center;
      flex-direction: column;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      gap: mixins.toRem(30);
    }
  }

  &__title {
    color: var(--white);
    text-transform: uppercase;
    line-height: math.div(33.8, 26);

    @media (min-width:mixins.toEm(variables.$mobile)) {
      font-weight: 500;
    }

    @include mixins.adaptiveValue("font-size", 32, 26);
  }

  &__button {
    width: 100%;
    max-width: mixins.toRem(427);
    border-radius: mixins.toRem(7.84);

    @include mixins.adaptiveValue("font-size", 32, 18);
    @include mixins.adaptiveValue("height", 69, 58);
  }
}

.footer {
  background-color: var(--red);
  color: var(--light);

  &__container {
    display: flex;
    align-items: flex-start;
    gap: mixins.toRem(10);
    justify-content: space-between;
    max-width: mixins.toRem(1350);

    @include mixins.adaptiveValue("padding-top", 80, 39);
    @include mixins.adaptiveValue("padding-bottom", 120, 71);


    @media (max-width:mixins.toEm(variables.$mobile)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: mixins.toRem(41);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      font-size: mixins.toRem(24);
      color: var(--white);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(2);
      }
    }

    span {
      font-size: mixins.toRem(14);
      line-height: math.div(24, 14);
      opacity: 0.8;
    }

    p {
      line-height: math.div(24, 16);
      font-size: mixins.toRem(16);

      .footer__year {
        line-height: inherit;
        font-size: inherit;
        opacity: 1;
      }
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      &:not(:last-child) {
        margin-bottom: mixins.toRem(9);
      }
    }
  }

  &__logo {
    height: mixins.toRem(57);

    img {
      height: 100%;
    }

    @media (max-width:mixins.toEm(variables.$mobile)) {
      order: -1;
    }
  }
}